<!DOCTYPE html>
<html lang="en">
<head>
   <%- include('./parstial/head') %>
    <title>Document</title>
</head>
<body>
    <%- include('./parstial/nav') %>  
    <div class="container mt-4">
        <% blog.forEach(curr => { %>
            <div class="card" style="width: 18rem;">
                <img src= <%= curr.CoverImageUrl %> class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><%= curr.title %></h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        <% }) %>
    </div>
    <%- include('./parstial/script') %> 
</body>
</html>
